@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body {
    width: 25%;
    height: 70%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    background-color: #A8A8A8;
}

.form {
    background-image: url("../assets/paper.png");

    padding: 5em;

    /* Form Shadow */
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);

    font-family: "Open Sans", Times, serif;
    font-size: 16px;
}

#loginForm input[type="radio"], #loginForm input[type="checkbox"]{
    margin: 0em;
    padding: 0em;
    float:right;
}

#loginForm div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inputDiv {
    line-height:100%;
    margin-top: 0.2em;
    margin-bottom: 1em;
    padding: 0;
}

.inputText {
    width: 100%;
    margin: 0;
    padding: 1em;
    background: #383838;

    border: 0;
    border-radius: 0.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    font-family: "Open Sans", Times, serif;
    font-size: 16px;
    color:white;
}

.submitButton {
    border: 0;
    padding: 5% 20%;
    background: #383838;

    margin-top: 2em;
    margin-left:auto;
    margin-right:auto;

    font-family: "Open Sans", Times, serif;
    font-size: 16px;
    color:white;

    display:block;
}
.submitButton:active {
    background: #606060;
}

.closeButton {
    color: #A8A8A8;
    float: right;
}

.notifyInfo, .notifySuccess, .notifyWarning, .notifyError {
    text-align: center;
    margin: 1em 0em;
    margin: 3em 0em -2em 0em;
    padding: 1em;
    border-radius: 0.5em;
}

.notifyInfo {
    color: #00529B;
    background-color: #BDE5F8;
}
.notifySuccess {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.notifyWarning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.notifyError {
    color: #D8000C;
    background-color: #FFBABA;
};
