h3, h4, p {
    margin: 0rem 0rem 1rem 0rem;
}

.description {
    margin: 0rem 2rem;
    display: inline-block;
    vertical-align: top;
}

#eventImage {
    border-radius: 1rem;
    width: 50%;
    height: 30rem;
    display: inline-block;
}

#description {
    margin: 3rem 3rem;
}
