h2, h3, h4, p {
    margin: 0rem 0rem 1rem 0rem;
}

.description {
    margin: 0rem;
    padding-left: 1rem;
    display: inline-block;
    vertical-align: top;
    width: 49%;
    box-sizing: border-box;
}

.eventImage {
    border-radius: 1rem;
    width: 49%;
    height: 30rem;
    display: inline-block;
    background-size: cover;
}

#status {
    font-size: 2rem;
    text-align: right;
    margin: 3rem 0rem;
}

#status > i {
    cursor: pointer;
}

#description, #members {
    margin: 2rem 0rem;
    border-bottom: 0.1rem solid #808080;
}

#description {
    padding: 2rem 0rem;
    box-sizing: border-box;
}
