h2, h3, h4, p {
    margin: 0rem 0rem 1rem 0rem;
}

.description {
    margin: 0rem;
    padding-left: 1rem;
    display: inline-block;
    vertical-align: top;
    width: 49%;
    box-sizing: border-box;
}

.eventImage {
    border-radius: 1rem;
    width: 49%;
    height: 30rem;
    display: inline-block;
    background-size: cover;
}

.comment .input-box {
    width: 90%;
    display:inline-block;
}

.input-text {
    font-size: 1.3rem;
}

.submit-button {
    width: 3rem;
    height: 3rem;
    color: #fff;
    margin: 0;
    background-color: transparent;
}

.submit-button:hover {
    color: #cecece;
    background-color: transparent;
}

.commentForm, #thread-create {
    font-size: 3rem;
    text-align: right;
}

#status {
    font-size: 2rem;
    text-align: right;
    margin: 3rem 0rem;
}

#status > i {
    cursor: pointer;
}

#eventDescription, #members {
    margin: 2rem 0rem;
    border-bottom: 0.1rem solid #808080;
}

#eventDescription {
    padding: 2rem 0rem;
    box-sizing: border-box;
}

#thread-create-div {
    width: 80%;
    margin: 0rem auto;
    padding: 2rem 4rem;
    background-color: #01528a;
    box-sizing: border-box;
    font-size: 3rem;
}
