@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body {
    height: 100%;
    width: 100%;

    background-color: #ccc;

    margin: 0;
    padding: 0;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div {
    margin: 0;
    padding: 0;
}

.h-align {
    margin-left: auto;
    margin-right: auto;
}

.v-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.header {
    height: 10rem;
    width: 100%;
    background-color: #01528a;
    color: #fff;

    display: table;
}

.header span {
    display: table-cell;
    vertical-align: middle;

    text-align:center;
    font-family: "Open Sans", Times, serif;
    font-size: 24px;
    font-weight: bold;
}

.mailContent {
    background-color: #fff;
    color: #282828;
    padding: 2rem 5rem;

    font-family: "Open Sans", Times, serif;
    font-size: 18px;
}

.greetings {
    margin-bottom: 5rem;
}

.goodbye {
    margin-top: 5rem;
}

.footer {
    display: table;
    height: 2rem;
    width: 100%;
    background-color: #202020;
    color: #fff;
}

.footer span {
    display: table-cell;
    vertical-align: middle;

    text-align:center;
    font-family: "Open Sans", Times, serif;
    font-size: 14px;
}

#content {
    width: 40rem;

    -webkit-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.75);
}
