@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body {
    height: 100%;
    width: 100%;

    background-color: #01528a;

    margin: 0;
    padding: 0;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

fieldset {
    padding : 0;
    margin: 0;
    outline: 0;
    border: 0;
}

.h-align {
    margin-left: auto;
    margin-right: auto;
}

.v-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.logo {
    text-align:center;
    font-family: "Open Sans", Times, serif;
    font-size: 24px;
    font-weight: bold;
    margin: 1rem auto;
}

.input-box {
    width: 100;
    cursor: text;
    border: 0;
    margin: 0;
    margin: 0.5rem 0rem;
}

.input-text {
    width: 100%;
    color: #555;
    font-family: "Open Sans", Times, serif;
    font-size: 22px;
    padding: 1rem 1rem;
    background-color: #fff;
    border: 0.2rem solid #fff;
    outline: 0;
    border-radius: 0.2rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.input-text-invalid {
    border-color:#d8000c;
}

.label-input {
    height: 1.5rem;
    margin: 1.5rem 0rem;
    line-height: 1.5rem;
    display: table;
}

.label-input input[type="radio"], .label-input input[type="checkbox"] {
    padding: 0;
    margin: 0rem;
    margin-right: 0.2rem;
    vertical-align: middle;
    cursor: pointer;
    display: table-cell;
}

.label-input label {
    color: #eee;
    font-family: "Open Sans", Times, serif;
    font-size: 22px;
    vertical-align: middle;
    display: table-cell;
}

.submit-button {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border: 0;
    outline: 0;
    margin: 1.5rem auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display:block;
}

.submit-button::-moz-focus-inner {
  border: 0;
}

.arrow-icon {
    background: transparent url('../img/lock.png') no-repeat center center;
    background-size:cover;
}

.notify-message {
    display:table-cell;
    vertical-align: middle;
    height: 100%;
    padding-left: 1.7rem;
}

.close-notify {
    height: 100%;
    color: #A8A8A8;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    padding: 0.5rem;
}

.notifyInfo, .notifySuccess, .notifyWarning, .notifyError {
    width: 100%;
    display: table;
    margin: 0rem auto;
    padding: 0.5rem 0rem;
    border-radius: 0.2rem;
    text-align: center;
    font-family: "Open Sans", Times, serif;
    font-size: 18px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.notifyInfo {
    color: #00529B;
    background-color: #BDE5F8;
}
.notifySuccess {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.notifyWarning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.notifyError {
    color: #D8000C;
    background-color: #FFBABA;
}

#form {
    width: 20rem;
}

#emailBox, #confirmPasswordBox {
    display: none;
}
