#createButton {
    float:left;
}

#cancelButton {
    float:right;
}

#closeButton {
    width: 100%;
}

#ownEvents, #joinedEvents, #invites {
    margin: 2rem 0rem;
    border-bottom: 0.1rem solid #808080;
}
